# Auto detect text files and perform LF normalization
* text=auto

# Librerías de terceros: no contar en las estadísticas de lenguaje de GitHub
Assets/TextMesh?Pro/**       linguist-vendored
Assets/Plugins/**            linguist-vendored
Assets/ThirdParty/**         linguist-vendored
